ansible-pylibssh==1.1.0
{% if ansible_core_version.startswith(('<', '>', '=')) %}
ansible-core{{ ansible_core_version }}
{% else %}
ansible-core=={{ ansible_core_version }}
{% endif %}
ara=={{ osism_projects['ara'] }}
osism=={{ osism_projects['osism'] }}
