nameOverride: ""
fullnameOverride: ""

operator:
    image:
        repository: registry.yaook.cloud/yaook/operator
        pullPolicy: IfNotPresent
    runnerCount: 3
    additionalServiceMonitorLabels: {}
    
    resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

    schedulingKeys:
    - operator.yaook.cloud/configured-daemon-set
    - operator.yaook.cloud/any

    nodeSelector: {}

    tolerations: []

    affinity: {}

    verbosity: "3"

    imagePullSecrets: []

    pythonOptimize: true

    extraEnv: []

    multipleNamespaces: false