---
- name: Deploy cert-manager
  kubernetes.core.helm:
    release_name: "{{ cert_manager_helm_release_name }}"
    chart_ref: "{{ cert_manager_helm_chart_ref }}"
    release_namespace: "{{ cert_manager_helm_release_namespace }}"
    create_namespace: true
    kubeconfig: /share/kubeconfig
    wait: true
    values: "{{ _cert_manager_helm_values | combine(cert_manager_helm_values, recursive=True) }}"
